/*Import des styles de police (Montserrat) */

@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap);



/* import de police d'écriture */
@font-face {
        font-family:'Montaga';
        src: url(../fonts/Montaga-Regular.ttf);
    }
/* '*' fait référence à tous les éléments de la page */

* {
    font-family: 'Montserrat', sans-serif;
}
/* body fait référence à toute la page */

body {
    margin : 0 auto;
}
/* ========= SECTION HAUT-DE-PAGE==========*/

section.Haut-de-page {
    background-color:red; /* à supp ensuite*/
    background : url('');
    height: 200px;
    margin-left: 30px;
}
/* La barre de recherche en tant qu'objet */
nav.nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    width: 50vh;
    padding: 25px; /* marge interne */

}

/* Chaque onglet de la barre de recherche */
nav.nav li {
    color: black;
    justify-content: space-between;
}
/* Titre principal de la section */

.Titre-page {
    color: black;
    font-size: 45px;
    /*font-family: 'Montaga';*/

    
    
    
    

}
/* Image de la police comprise dans le header appelé header-top */

header.header-top img {
    width: 150px;

}
/*=======FIN SECTION HAUT-DE-PAGE===========*/


/* ========= SECTION BOUTONS==========*/ 
/*Peut être supprimée pour vos besoins spécifiques*/

section.Boutons-à-cocher {
    /*background-color: blue;*/
    margin-top: 110px;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    height: 3vh;
    width: 20vh;
    padding: 25px;
    font-size: 20px;


}
/*=======FIN SECTION BOUTONS ===========*/

section.Graphiques {
    margin-left: 30px;
    background-color: chartreuse;
    height: 400px; /* paramètre qui va varier */

}

/* ========= SECTION BAS-DE-PAGE==========*/

section.Bas-de-page{
    background-color: aqua;
    height: 200px; /* paramètre qui varie */
    margin-left: 30px;
}


/* ========= FIN SECTION BAS-DE-PAGE==========*/






