/*Import des styles de police (Montserrat) */

@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap);



/* import de police d'écriture */
@font-face {
        font-family:'Montaga';
        src: url(../fonts/Montaga-Regular.ttf);
    }
/* '*' fait référence à tous les éléments de la page */
/*=========== REFS COMMUNES À toutes les pages =================== */
* {
    font-family: 'Montserrat', sans-serif;
}
/* body fait référence à toute la page */

body {
    margin : 0 auto;
}

/* ==================================== PREMIERE PAGE ================================*/
/* ========= SECTION Graphique page 1 (La carte de la région)==========*/

section.Graphique-page1{
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 30px;

}


#graph-page1 svg {
    
    border: 1px solid #ccc;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    
}
#controls {
    text-align: center;
    
}
#tooltip {
    position: absolute;
    opacity: 0;
    background: rgba(255, 255, 255, 0.95);
    padding: 8px 12px;
    border-radius: 4px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    pointer-events: none;
    font-size: 14px;
    color: #333;
    }




/* ==================================== DEUXIEME PAGE ================================*/

/* ========= SECTION HAUT-DE-PAGE==========*/

section.Haut-de-page {
    background-color:red; /* à supp ensuite*/
    background : url('');
    height: 200px;
    margin-left: 30px;
}
/* La barre de recherche en tant qu'objet */
nav.nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    width: 50vh;
    padding: 25px; /* marge interne */

}

/* Chaque onglet de la barre de recherche */
nav.nav li {
    color: black;
    justify-content: space-between;
}
/* Titre principal de la section */

.Titre-page {
    color: black;
    font-size: 45px;
    /*font-family: 'Montaga';*/

    
    
    
    

}
/* Image de la police comprise dans le header appelé header-top */

header.header-top img {
    width: 150px;

}
/*=======FIN SECTION HAUT-DE-PAGE===========*/


/* ========= SECTION BOUTONS==========*/ 
/*Peut être supprimée pour vos besoins spécifiques*/

section.Boutons-à-cocher {
    /*background-color: blue;*/
    margin-top: 110px;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    height: 3vh;
    width: 20vh;
    padding: 25px;
    font-size: 20px;


}
/*=======FIN SECTION BOUTONS ===========*/


/* ========= SECTION BAS-DE-PAGE==========*/

section.Bas-de-page2{
    background-color: aqua;
    height: 200px; /* paramètre qui varie */
    margin-left: 30px;
}





/* ========== SECTION Graphique page 2 =========== */
section.Graphique-page2 {
    display: flex; /* on les mets en ligne */
    justify-content: space-around; /* on met de l'espace entre les deux */
    margin-left: 30px;
    background-color: chartreuse;
    height: 400px; /* paramètre qui va varier */
}

section.Graphique-page2 div {
    flex: 1;
    text-align: center;
}
